
@keyframes slideDown{
  0%{
    opacity:0;
    transform: translateY(-5rem);
  }

  100%{
    opacity:1;
    transform: translateY(0rem);
  }

}
@keyframes floatRSC{
  0%{
    transform: translateX(100%);
  }
  10%{
    opacity: 0;
  }
  100%{

    transform: translateX(0%);
  }
}
@keyframes floatCRS{
  0%{
    transform: translateX(0%);
  }
  90%{
    opacity: 0;
  }
  100%{
    transform: translateX(100%);
  }
}
@keyframes floatCLS{
  0%{
    transform: translateX(0%);
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{

    transform: translateX(-200%);
  }
}
@keyframes floatLSC{
  0%{
    transform: translateX(-200%);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  100%{

    transform: translateX(0%);
  }
}

@keyframes floatDSUp{
  0%{
    transform: translateY(100%);
  }
  100%{

    transform: translateY(0%);
  }
}
@keyframes floatUpDS{
  0%{
    transform: translateY(0%);
  }
  100%{

    transform: translateY(100%);
  }
}
@keyframes disapereItem{
  0%{
    opacity:1;
    height:65rem;
  }
  50%{
      height: 32rem;
  }
  100%{
  opacity:0;
  height: 0;
  }
}

@keyframes biggerScale{
  0%{
  opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes rotate{
  0%{
  transform: rotateX(90deg) rotateY(90deg);
  }

  100%{
    transform: rotateX(0deg) rotateY(0deg);
  }
}
@keyframes scrollItem{
  0%{
  width:0rem;
  }

  100%{
    width: 100%;
  }
}
