.features {
  grid-column: full-start / full-end;
  grid-row: 2 / 4;
  @media only screen and (max-width: 450px) {
    justify-items: center;
  }
  & .invite-postcard {
    grid-row: 3 / 4;
  }
  &__image {
    background-image: url(../../assets/features/desktop/hero.jpg);
    @media only screen and (max-width: 600px) {
      background-image: url(../../assets/features/tablet/hero.jpg);
    }
    @media only screen and (max-width: 450px) {
      background-image: url(../../assets/features/mobile/hero.jpg);
    }
  }
  &__content {
    grid-column: 2 / span 12;
    grid-row: 2 / 3;
    grid-column-gap: 5%;
    grid-row-gap: 10rem;
    align-items: center;
    justify-items: center;
    margin: 10rem 5%;
  }

  &__btn {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    align-self: center;
    display: flex;
    justify-self: end;
    width: unset;

    @media only screen and (max-width: 678px) {
      grid-column: 2 / 3;
      grid-row: 4/ 5;
      justify-self: start;
    }
  }
}

.feature {
  grid-row-gap: 2.5rem;

  &__image {
    display: grid;
    animation: floatLSC 0.3s, rotate 0.5s;
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
  }
  &__header {
    animation: floatDSUp 1s;
    grid-row: 3 / 4;
    grid-column: 2 /3;
    align-self: center;
  }
  &__text {
    animation: floatDSUp 1s;
    grid-row: 4 /5;
    grid-column: 2 /3;
    text-align: center;
  }
}
