.menu {
  &__checkbox:checked {
    //TRANSFORM ICON IMAGE

    + .menu__btn .menu__icon {
      &::before {
        transform: rotate(45deg) translateY(0);
      }
      &::after {
        transform: rotate(-45deg) translateY(0);
      }
    }

    //OPENED MENU
    & ~ .mobile__nav {
      height: 100vh;
      transition: height 0.5s;
    }
    //DISPLAYED LINKS
    & ~ .mobile__nav {
      & .mobile__list {
        & .mobile__link {
          display: block;
        }
      }
    }
    & ~ .mobile__nav {
      & .mobile__links {
        & .mobile__link {
          display: block;
        }
      }
    }
    //CLOSED MENU
    &:not(:checked) {
      & ~ .mobile__nav {
        & .mobile__list {
          height: 0;
          width: 100%;
          padding: 0 4rem;
        }
      }
    }
  }
}

.btn__switch {
  &--checkbox {
    &:checked {
      & + .btn__switch {
        &::before {
          transform: translateX(30px);
          transition: transform 0.3s;
          background-color: white;
        }
      }
    }
    &:not(:checked) {
      & + .btn__switch {
        &::before {
          transition: transform 0.3s;
        }
      }
    }
  }
  //     & .btn__switch::before{
  //       transform: translateX(2.8rem);
  //
  //     }
  //   &:not(:checked){
  //     & .btn__switch::before{
  //         transform: translateX(0);
  //
  //     }
  //
  //
  //   }
}

//Float animation
//Float Right-left

// .float{
//   &__center-to-leftSide{
//   animation: floatCLS 1.5s forwards !important;
//   backface-visibility: hidden;
// }
//   &__leftSide-to-center{
//   animation:  floatLSC 1.5s  .5s forwards;
//   backface-visibility: hidden;
// }
// &__rightSide-to-center{
//   animation: floatRSC 1.5s forwards;
//   backface-visibility: hidden;
// }
// &__down-to-up{
//   animation: floatDSUp 1.5s forwards;
//   backface-visibility: hidden;
// }
// &__up-to-down{
//   animation: floatUpDS 1.5s forwards;
//   backface-visibility: hidden;
// }
// &__center-to-rightSide{
//   animation: floatCRS 1.5s forwards !important;
//   backface-visibility: hidden;
// }
// }
//
//
// .disapere{
//   &__home-item{
//     animation: disapereItem 1.5s  forwards !important;
//     backface-visibility: hidden;
//   }
//   &__story-item{
//     animation: disapereItem 1.5s  forwards !important;
//     backface-visibility: hidden;
//   }
// }
