$color-main: (
  "color-primary-1": #ffc593,
  "color-primary-2": #bc7198,
  "color-primary-3": #5a77ff,
);
$color-dark: #000000;
$color-grey: #dfdfdf;
$color-white: #ffffff;

$pallete-color-shadow: linear-gradient(to right top, #ffc593, #bc7198, #5a77ff);
$min-height-collage: 46.87rem;
$max-height-collage: 62.5rem;
