$color-main:("color-primary-1":#FFC593,"color-primary-2":#BC7198,"color-primary-3":#5A77FF);
$color-dark:#000000;
$color-grey:#DFDFDF;
$color-white:#FFFFFF;

$pallete-color-shadow:linear-gradient(to right top,#FFC593,#BC7198,#5A77FF);
