#invite{
  // display: none;
}
.invite{

  &__background{

    display: none;
    flex-flow: column;
    position: fixed;
    top: 0;
    width:100%;
    height: 100vh;
    z-index: 1000;
    background:rgba(0,0,0,0.8);
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    animation: biggerScale 1s forwards;
  }
  &__form{
      display: flex;
    flex-flow: column;
    background-image:linear-gradient(to right top, gray 20%, darkgray 80%);
    padding:4rem 8rem 8rem;
    border-radius: 5%;

    label{
      font-size: 1.8rem;
    }
  }
  &__input{
  margin-bottom:1rem ;
  margin-top:8px;
  border-radius: 5px;
  border:none;
  height:3rem;
  font-size: 2rem;
  text-indent: 5%;
  transform: scale(1);
  &:focus{
    &::placeholder{
       opacity:0;
    }
  }
  &:focus,
  &:hover{
    outline-offset: 3px;
    outline: 6px dashed yellow;
    transform: scale(1.1);
    transition: transform .5s;
  }
  }
  &__btn{
    margin-top:2rem;
    cursor: pointer;
  }

}
